In [1]:
import numpy as np
import pandas as pd

In [2]:
df_movie = pd.read_csv('../source/movielens-20m-dataset/movie.csv')
df_movie.head()
# movie table 을 갖고온다
# movie table 에는 id, title, genres 가 있다.

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
df_rating = pd.read_csv('../source/movielens-20m-dataset/rating.csv')
df_rating.head()
# ratin table 을 갖고온다
# rating table 에는 userid, movie id, ration, timestamp 가 있다

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [4]:
df_movie = df_movie.iloc[:,:-1]
# genres 는 제외한다. 어차피 평점으로 추천을 해주기 때문에
#df_movie.head()
df_rating = df_rating.iloc[:,:-1]
# timestamp 도 굳이 필요하지 않은 정보이기 때문에 제외

movie table 과 rating table을 movied id로 merge

In [41]:
df_total = pd.merge(df_movie,df_rating)
df_total.head(10)
#20000263 rows × 4 columns

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5
5        1  Toy Story (1995)      12     4.0
6        1  Toy Story (1995)      13     4.0
7        1  Toy Story (1995)      14     4.5
8        1  Toy Story (1995)      16     3.0
9        1  Toy Story (1995)      19     5.0

In [43]:
df_total = df_total.iloc[:1000000,:]
# data가 너무 많기도 하고, 전체 데이터를 넣으면 jupyter 자체에서
# memory 오류가 뜬다. 따라서 개수 제한

In [52]:
pivot_table = df_total.pivot_table(index = ["userId"],columns = ["title"],values = "rating")
# pivot 은 내가 원하는 데이터로 , 데이터를 배치하여 새로운 dataframe을 만드는 것이다.

#pivot_final = pivot_table.fillna(0)
# nan 값을 0으로 채워주게 되면, 마치 user가 0으로 평가한것 처럼 
# 컴퓨터가 해석하기 때문에, nan 값 그대로 둔다.

pivot_table.head(20)
#pivot_final.to_csv('tmp/pivot_final.csv')
#132027 rows × 294 columns

title,Ace Ventura: When Nature Calls (1995),Across the Sea of Time (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angela (1995),Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Assassins (1995),Babe (1995),...,Unforgettable (1996),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),When Night Is Falling (1995),"White Balloon, The (Badkonake sefid) (1995)",White Squall (1996),Wings of Courage (1995),"Young Poisoner's Handbook, The (1995)"
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
20,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
watched = pivot_table['Vampire in Brooklyn (1995)']
similarity = pivot_table.corrwith(watched)

# pandas 를 통해 Pearson Correlation Coefficient 를 구할수 있음
# 특히, corrwith() 는 모든 변수간 상관계수를 계산해줌.

similarity_order = similarity.sort_values(ascending=False)
# 내림차순으로 정렬해서, 추천해줄 영화 쉽게 구하기

similarity_order.head()

title
Vampire in Brooklyn (1995)                                        1.000000
Headless Body in Topless Bar (1995)                               0.889297
Gospa (1995)                                                      0.866025
Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)    0.745499
Race the Sun (1996)                                               0.697001
dtype: float64